
 
 
 
PROFESSIONAL SUMMARY 

Expertise in Understanding and Analyzing Test Requirements, Tracking changes and maintenance of Test Requirements.
Proficient in devising all the artifacts of testing such as Test Scenarios, Test Cases, Defect Reports and Test Summary Report
Excellent experience in UI automation of Web-based applications.
Solid experience of AGILE Methodologies, AGILE Manifesto and Scrum processes.
Solid experience of Defect/Test Management tool JIRA.
Expertise in writing SQL Queries, SQL Scripts and performing Database testing
Strong communication & interaction with Developers, Business Analysts and with management.
Proven ability in Windows/UNIX Commands, Scripts and testing on Windows/UNIX platforms.

TECHNICAL SKILLS 

Automation Testing Tools/Framework: Selenium WebDriver, Cucumber, TestNG.
Languages   : JAVA,SQL
Project Management Tool: JIRA
RDBMS: MySQL, Oracle
Operating Systems: Windows 7/8, Windows Server 2008/2008R2/2012, Mac OS, LINUX/Solaris/HP-UX
Domain Knowledge: E-commerce, Financial, Trading, Insurance,Banking, Telecom, Billing
 
 
Responsibilities: 

Implemented automation using Selenium WebDriver, JAVA, Cucumber, Maven.
Extensively automated regression and functional test suites using Selenium WebDriver, JAVA, JUnit.
Implemented Page Objects framework, Hybrid framework.
Configured Maven for JAVA automation projects and developed Maven project object model (POM).
Developed BDD tests using Cucumber by writing behaviours and step definitions. Developed required Selenium support code in JAVA for Cucumber.
Wrote SQL queries extensively, queried database and generated test reports.
Performed Defect Tracking & Management in JIRA.
Worked in a highly dynamic AGILE environment and participated in scrum and sprint meetings
